button {
  padding: 8px 15px;
  min-width: 194px;
  height: 34px;
  background-color: $light_gray;
  color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 0;
  cursor: pointer;

  &.blue-btn {
    @extend button;
    background-color: $dark_blue;
    padding: 10px;
    color: $black;
    min-width: 208px;
    height: 44px;
  }
}